

          <div class="faq">

            <ul>
              <li>
                <details>
                  <summary>What are Headings?</summary>
                  <div class="content">
                    <ul>
                      <li>
                        <a href="https://www.w3.org/WAI/tutorials/page-structure/headings/">Headings</a> are used to add structure to content and should describe the content in the next section or sub-section on the page.
                      </li>
                      <li>
                        There are six levels of headings (e.g. <code>h1</code>-<code>h6</code> elements) in HTML to identify sub-sections in hierarchical content.
                      </li>
                      <li>
                        Web browsers, plug-ins, and assistive technologies can use them to provide in-page navigation.
                      </li>
                     <li>
                        SkipTo.js provides a means for everyone to use keyboard navigation to navigate to headings on page.
                      </li>
                    </ul>
                  </div>
                </details>
              </li>
              <li>
                <details>
                  <summary>What are Landmark Regions?</summary>
                  <div class="content">
                    <ul>
                      <li>
                        <a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/">Landmark Regions</a> identify the major sections of a page that is usually conveyed visually with placement, spacing, color, or borders.
                      </li>
                      <li>
                         Landmark regions enable assistive technology users to perceive the start and end of each section of a web page.
                      </li>
                      <li>
                        There are eight types of landmark regions used to identify content on a page:
                          <ul>
                            <li><code>banner</code></li>
                            <li><code>Complementary</code></li>
                            <li><code>Contentinfo</code></li>
                            <li><code>Form</code></li>
                            <li><code>Main</code></li>
                            <li><code>Navigation</code></li>
                            <li><code>Region</code></li>
                            <li><code>Search</code></li>
                          </ul>
                      </li>
                      <li>
                        <a href="https://skipto-landmarks-headings.github.io/page-script-5/page-script.html">SkipTo.js</a> provides a means for everyone to use keyboard navigation to navigate to landmark regions on page.
                      </li>
                      <li>
                        <a href="https://aria-landmark-region-patterns.github.io">More information on Landmarks</a>
                      </li>
                    </ul>
                  </div>
                </details>
              </li>
              <li>
                <details>
                  <summary>How do I open and close the H2L side panel?</summary>
                  <div class="content">
                    <h2>Toolbar Icon</h2>
                    <ul>
                      <li>
                        For Chrome and Firefox the extension icon (e.g. H2L) will be found near the address bar.  To make the icon easier to access pin the extension to the toolbar.
                      </li>
                      <li>
                        For Opera the H2L icon in found on the bottom-left corner of the page window.
                      </li>
                      <li>
                        Activating the toolbar icon will open and close the side panel.
                      </li>
                    </ul>

                    <h2>Menu Option</h2>
                    <ul>
                      <li>
                        For Firefox the extension can also be opened and closed in "Tools" menu under sidebar.
                      </li>
                    </ul>
                  </div>
                </details>

              <li>
                <details>
                  <summary>Changing the side panel to the left or right side in Chrome.</summary>
                  <div class="content">

                    <p>To change the side of the Chrome side panel, navigate to Chrome settings, then Appearance, and under the Side panel section, select your preferred location (left or right). </p>
                    <p>Here's a step-by-step guide: </p>
                    <ol>
                      <li>Open Chrome browser.</li>
                      <li>Activate (e.g. click) the three dots (More options) menu in the top right corner.</li>
                      <li>Select "Settings".</li>
                      <li>Go to the "Appearance" tab.</li>
                      <li>Under the "Side panel" section, choose either "Show on left" or "Show on right".</li>
                    </ul>

                  </div>
                </details>

            </ul>


