
          <div id="about">

          <h2>Contributors</h2>
          <ul>
            <li>Jon Gunderson, <a href="https://openweba11y.com">Open Web Accessibility Services</a></li>
          </ul>

          <h2>Source Code</h2>

          <ul>
              <li><a href="{{repositoryURL}}">{{projectName}} on GitHub</a></li>
              <li><a href="https://github.com/opena11y/evaluation-library">OpenA11y Evaluation Library on GitHub</a></li>
          </ul>

          <h2>Version History</h2>

          <h3>Version 2.0</h3>
          <ul>
            <li>Changed CSS to use variable instead of SASS</li>
            <li>Updated highlighting, adding a highlight all and show accessible name options</li>
            <li>Options for highlighting and filtering in each tap panel view</li>
            <li>Updated Options dialog</li>
            <li>Added About dialog</li>
          </ul>

          <h3>Version 1.1</h3>

          <ul>
            <li>Changed branding icon to H2L from TOC.</li>
            <li>Removed TOC from title, just Headings, Landmarks and Links.</li>
            <li>Added export to CSV feature.</li>
          </ul>

          <h3>Version 1.0.4</h3>
          <ul>
            <li>Removed heading filters option</li>
          </ul>

          </ul>

          <h3>Version 1.0.3</h3>
          <ul>
            <li>Removed scripting permission</li>
            <li>Removed console.log code</li>
          </ul>

          <h3>Version 1.0.2</h3>
          <ul>
            <li>Fixed bug with link name sorting feature</li>
          </ul>

          <h3>Version 1.0.1</h3>
          <ul>
            <li>Updated URL to documentation</li>
          </ul>

          <h3>Version 1.0</h3>
          <ul>
            <li>Initial release</li>
          </ul>

          <h2>Support</h2>

          <p>Support for the Headings, Landmark Regions and Links project is provided by the <a href="https://dres.illinois.edu/">Division of Disability Resources and Educational Services</a> in the <a href="https://ahs.illinois.edu">College of Applied Life Studies</a> at the <a href="htts://illinois.edu">University of Illinois at Urbana/Champaign</a>.

          </div>


        </div>
