

              <section id="links" class="feature">

                <figure class="image">
                   <img src="./images/feature-links.png"
                        alt=""/>
                        <figcaption>Screen Shot of Links Tab selected</figcaption>
                </figure>

                <h2>Features</h2>
                <ul>
                  <li>
                    The third tab provides a <a href="https://www.w3.org/WAI/ARIA/apg/patterns/grid/">grid view</a> of the links of a web page.
                  </li>
                  <li>
                    Each row has four columns providing information on:
                    <ol>
                      <li>The position of the link on the page.</li>
                      <li>The <a href="https://www.w3.org/WAI/ARIA/apg/practices/names-and-descriptions/">accessible name</a> of the link.</li>
                      <li>If the link has an <a href="https://www.w3.org/WAI/ARIA/apg/practices/names-and-descriptions/">accessible description</a>.</li>
                      <li>Information on the domain name of URL or file extensions.</li>
                    </ol>
                  </li>
                  <li>Columns are sortable</li>
                  <li>Checkbox to highlight all links.</li>
                  <li>Checkbox to include accessible name as part of the highlight.</li>
                  <li>Button to open a dialog of options to filter links based on domain information.</li>
                </ul>


                <h2 id="a11y-considerations">Accessibility Considerations</h2>

                <table class="table table-striped" aria-labelledby="a11y-considerations">
                  <tbody>
                    <tr>
                      <th>
                        Concise and unique
                      </th>
                      <td>
                        Verify link text is short but still informative. Each link should have unique text, especially if it leads to different locations.
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Avoid generic phrases
                      </th>
                      <td>
                        Verify links do not use phrases like "click here," "read more," or "learn more." or the URL as the link text.
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Provide context
                      </th>
                      <td>
                        <ul>
                          <li>
                            Verify the link text clearly indicates the link's destination or purpose.  For example instead of "click here," use "Download the report" or "Register for the event".
                          </li>
                          <li>
                            If a link does share the same link text with other links and it is not possible to change the text use <code>aria-description</code> or <code>aria-describedby</code> attribute to provide the additional context to screen reader users.  Screen readers typically read the accessible description after the link text.
                          </li>
                          <li>
                            The <em>H2L Sidepanel</em> extension provides information on links with accessible descriptions.
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        WCAG Requirements
                      </th>
                      <td>
                        <ul>
                          <li><a href="https://www.w3.org/WAI/WCAG22/Understanding/link-purpose-in-context.html">2.4.4: Link Purpose (In Context) (Level A)</a></li>
                          <li><a href="https://www.w3.org/WAI/WCAG22/Understanding/link-purpose-link-only">2.4.9: Link Purpose (Link Only) (Level AAA)</a></li>
                        </ul>
                      </td>
                    <tr>
                      <th>
                        More Information
                      </th>
                      <td>
                        <ul>
                          <li><a href="https://webaim.org/techniques/hypertext/">WebAim: Links and Hypertext</a></li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <h2>Link Filter Options</h2>

                <figure class="image">
                   <img src="./images/feature-link-filters.png"
                        alt=""/>
                        <figcaption>Screen Shot of links filter dialog box options</figcaption>
                </figure>

                <p>Link filtering options include:</p>
                <ul>
                  <li>Internal links</li>
                  <li>Same sub-domain links</li>
                  <li>Same domain links</li>
                  <li>External links</li>
                  <li>Links with non-html file extension links (e.g. .pdf, .docx, .xlsx ...)</li>
                </ul>

                 {% include "./link-types.njk" %}


              </section>

