
          <div id="options">

            <figure class="image">
               <img src="./images/feature-options.png"
                    alt=""/>
                    <figcaption>Screen Shot of Options Dialog Box in Side Panel</figcaption>
            </figure>

            <h2 id="highlight">Highlight</h2>

            <table class="table table-striped shortcuts" aria-labelledby="highlight">
               <thead>
                  <tr>
                     <th>Option</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <td>Highlight follows focus</td>
                    <td>
                      <ul>
                        <li>When enabled (<em>default</em>) the user moves focus between items in the heading, landmarks and links tabs, the associated item on the page will be scrolled into view and highlighted automatically. </li>
                        <li>Some people may want to disable automatic highlighting if the scolling is a distraction or disorientation.</li>
                        <li>When automatic highlighting is <em>disabled</em>, use the <kbd>space</kbd> or <kbd>enter</kbd> key to scoll the associated item into view.</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Border Size</td>
                    <td>
                      Sets the width of the border used to highlight items on the web pages.  The following sizes are available:
                      <ul>
                        <li>small</li>
                        <li>medium</li>
                        <li>large (<em>default</em>)</li>
                        <li>x-large</li>
                        <li>xx-large</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Border Style</td>
                    <td>
                      The style used for the border.  The following styles are available:
                      <ul>
                        <li>solid</li>
                        <li>dashed (<em>default</em>)</li>
                        <li>dotted</li>
                      </ul>
                    </td>
                  </tr>
               </tbody>
             </table>

            <h2 id="export-info">Export Information</h2>

            <table class="table table-striped shortcuts" aria-labelledby="export-info">
               <thead>
                  <tr>
                     <th>Option</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <td>Headings</td>
                    <td>
                      Include in the CSV file information about headings on the page.
                    </td>
                  </tr>
                  <tr>
                    <td>Landmarks</td>
                    <td>
                      Include in the CSV file information about landmarks on the page.
                    </td>
                  </tr>
                  <tr>
                    <td>Links</td>
                    <td>
                      Include in the CSV file information about links on the page.
                    </td>
                  </tr>
               </tbody>
             </table>

            <h2 id="export-file-name">Export Filename Options</h2>

            <table class="table table-striped shortcuts" aria-labelledby="export-file-name">
               <thead>
                  <tr>
                     <th>Option</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <td>File Name</td>
                    <td>
                      <ul>
                        <li>File name prefix cannot be more than 32 characters</li>
                        <li>Contain spaces or <>:"/|?*[] characters.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Index</td>
                    <td>
                      <ul>
                        <li>Is a number greater than or equal to zero</li>
                        <li>The index is automatically incremented after each export</li>
                      </ul>
                    </td>
                  </tr>
               </tbody>
             </table>

            <h2 id="other">Other Options</h2>

            <table class="table table-striped shortcuts" aria-labelledby="export-file-name">
              <thead>
                <tr>
                   <th>Option</th>
                   <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Prompt for export options
                  </td>
                  <td>
                    Enables prompting of the "Export Options" dialog box when activating the "Export" button.
                  </td>
                </tr>
              </tbody>
            </table>
