

              <section id="title" class="feature">

                <figure class="image">
                   <img src="./images/feature-title.png"
                        alt=""/>
                        <figcaption>Screen Shot of showing location of page title</figcaption>
                </figure>

                <h2>Feature</h2>

                <p>The first section of the side panel is labeled "Page Title" followed on the next line with the <em>title</em> of the associated web page.</p>

                <h2>Accessibility Considerations</h2>

                <ul>
                  <li>
                    Verify the <em>title</em> of a web page provides a description of both the website and the specific page.  The specific page information should be the first part of the title followed by the website information.
                  </li>
                  <li>
                    People using screen readers hear the <em>title</em> first when the page is loading and using screen reader commands have the <em>title</em> read to them to understand which web page they are viewing.
                  </li>
                  <li>Related WCAG Requirement:
                    <ul>
                      <li>
                        <a href="https://www.w3.org/WAI/WCAG22/Understanding/page-titled.html">
                          2.4.2 Page Titled (Level A)
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="https://www.w3.org/WAI/test-evaluate/easy-checks/title/">W3C WAI Easy Checks for Page Title</a></li>
                </ul>
              </section>

