
              <section id="summary" class="feature">

                <figure class="image">
                   <img src="./images/feature-summary.png"
                        alt=""/>
                        <figcaption>Screen Shot of showing location of summary information on the number of links, landmarks and links</figcaption>
                </figure>

                <h2>Feature</h2>

                <p>
                  A summary of the number of headings, landmark regions and links on the web page shown in parenthesis as a part of the tab labels.
                </p>

              </section>
