
              <section id="update" class="feature">

                <figure class="image">
                   <img src="./images/feature-update.png"
                        alt=""/>
                        <figcaption>Screen Shot of showing location of update button</figcaption>
                </figure>

                <h2>Feature</h2>

                <p>
                  Activating the "Update" button refreshes the side panel information from the current web page.  This is useful when the page content updated automatically or through user interaction and the side panel may not represent the current information on the page.
                </p>

              </section>


